{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/reg.css' %}">
{% endblock %}
{% block content %}
<div class="reg-form">
    {% if user.is_authenticated %}
    <div class="alert alert-danger text-center" >
    <strong>You already logged in! </strong> 
    <p><a href="{% url 'logout' %}">Click here to logout!</a></p>
    </div>
    {% else %}
   <form method="post">
      {% csrf_token %}
      <h1 class="text-center"><i class="fa fa-user-circle"></i></h1>
      <hr />
    
      {% for field in form %}
      <div class="form-group"> 
        <label>{{ field.label }}: </label>
          {{ field}}
          {{ field.error }}
      </div>
      {% endfor %}

      {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger alert-dismissible" >
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Registration Failed!</strong>
                <p>{{ error }}</p>
            </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger alert-dismissible" >
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Registration Failed!</strong>
                <p>{{ error }}</p>
            </div>
        {% endfor %}
    {% endif %}
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck" required>
        <label class="form-check-label" for="gridCheck">
          I agree to the djBP <a href="{% url 'terms' %}">Terms of Service</a> and <a href="{% url 'privacy' %}">Privacy Policy</a>
        </label>
      </div>
    <button type="submit" class="btn btn-dark btn-block">Register</button>
    <div class="login">
        Already have an account? <a href="{% url 'login' %}">Login here!</a>
    </div>
   </form>
   {% endif %}
</div>
{% endblock %}